## 20230112

## random라이브러리
임의의 수를 생성할 때 사용하는 ㅍ표준 라이브러리 random(시작정수, 끝정수) 함수를 활용하면 시작정수부터 끝정수까지 범위의  
난수를 생성할 수 있다

In [2]:
import random
random_list = [random.randint(1, 2) for _ in range(10)]
print(random_list)

[2, 1, 2, 2, 1, 1, 1, 2, 1, 1]

## 연습문제  
사용자가 원하는 개수만큼의 로또 번호 생성기를 만들고자 합니다.  
로또 규칙은 다음과 같다  
1. 번호의 범위는 1 ~ 45  
2. 총 6개의 번호를 생성  
3. 생성된 번호는 오름 차순으로 정렬  
4. 생성된 번호들에 중복은 있으면 안됨

In [25]:
import random

num =  int(input("번호를 몇개 드릴까요?"))

for i in range(num):
    a = []
    for _ in range(6):
        while True:
            number = random.randint(1,45)
            if number not in a:
                a.append(number)
                break
    a.sort()
    print(a)

번호를 몇개 드릴까요? 5

[9, 13, 15, 34, 41, 42]
[8, 14, 16, 23, 32, 36]
[4, 20, 33, 35, 37, 41]
[2, 29, 40, 42, 43, 44]
[8, 17, 23, 25, 30, 36]

In [51]:
import random

count =  int(input("번호를 몇개 드릴까요?"))
for i in range(count):
    lotto = [j for j in range(1,46)]
    lotto_numbers = []
    for _ in range(6):
        lotto_number = lotto[random.randint(1, len(lotto) - 1)]
        lotto_numbers.append(lotto_number)
        lotto.remove(lotto_number)
        lotto_numbers.sort()
    print(lotto_numbers)

번호를 몇개 드릴까요? 5

[11, 20, 22, 23, 28, 43]
[2, 11, 14, 16, 19, 41]
[13, 18, 24, 25, 29, 40]
[10, 17, 25, 28, 31, 35]
[9, 16, 21, 22, 26, 40]

### set 자료형
수학에 나오는 집합을 영어로 set이라고한다. 합집합, 교집합, 차집합과 같은 처리가 가능하다  
세트는 딕셔너리처럼 중괄호를 사용해서 생성한다 -> {}  
중복된 요소를 가지지 않는다,

In [52]:
print(set())

set()

### 세트 자료형 컴프리헨션
{expression for 변수 in iterable if 조건식}

### 세트에 값 넣는법
세트 메서드로 add()가 있다 이 메서드를 통해 세트 자료형에 값을 추가할 수 있다.  
사용하는 방법은 세트자료형.add()이다. 한 번에 하나의 값만 넣을 수 있다

### 세트 자료형, 요소 삭제하기
요소를 삭제하는 방법으로 2가지가 존재한다. 우선 먼저 설명드릴 메서드는  
remove()를 활용한다 세트자료형.remove() 삭제시킬 요소가 없으면 키에러가 발생한다  
다른 방법으로는 discard메서드 이다 세트자료형.discard(요소)와 같이 입력하면 된다.  
삭제시킬 요소가 없어도 키에러를 발생시키지 않는다

### 세트자료형 - 요소 임의 삭제하기
pop() - 요소를 랜덤하게 삭제하는 메서드, 삭제하려는 요소를 임의로 선책하고 반환한뒤 삭제한다. 삭제할 요소가 없으면 키에러를 발생시킨다
clear() - 요소 전체 삭제

### 세트자료형 - 합집합 혹은 Vertical bar(|)
set.union(세트1, 세트2)의 형태로 사용한다. 세트 자료형1과 세트 자료형2의 값을  
합친 것중에서 중복을 제거한다 vertical bar를 사용해서 세트1|세트2 처럼 사용도 가능하다

교집합 - &  
차집합 - difference(세트1, 세트2) '-' 활용 가능 A - B  
대칭차집합 - set.symmetric_difference(세트1, 세트2) ^ 기호 사용, 세트1과 세트2중에서 중복되지 않는 것들을 반환  
update() - 세트 자료형1에 세트 자료형 2를 추가한다  
intersection_update() - 세트1에 세트2와의 차집합을 대입한다 -=를 활용 하여 나타낼 수 있다  
^= - 세트1과 세트2에 겹치지않는 차집합 대입  
부분집합 - issubset(), 부분집합이면 True 아니면 False  
상위집합 - 세트자료형1.issuperset(세트2) 1이 2의 상위집합이면 True 아니면 False  
진부분집합 - 세트자료형1 < 세트 자료형2 처럼 사용할 수 있다

In [1]:
import random

n = int(input("로또번호 몇 개 드릴까요?"))

for i in range(n):
    lotto = set()
    while len(lotto) < 6:
        numbers = random.randint(1,45)
        lotto.add(numbers)
    lotto = sorted(lotto)
    print(lotto)

로또번호 몇 개 드릴까요? 10

[10, 18, 21, 42, 44, 45]
[6, 12, 31, 37, 40, 43]
[1, 12, 13, 21, 35, 37]
[6, 10, 18, 22, 28, 35]
[7, 16, 24, 27, 31, 37]
[5, 10, 17, 22, 30, 43]
[2, 6, 11, 21, 26, 28]
[14, 16, 25, 31, 38, 40]
[3, 5, 10, 28, 34, 35]
[4, 12, 19, 22, 26, 38]

## 연습문제
아래와 같은 리스트가 있을 때 set자료형을 통해 중복을 제거하고 출력해보세요  
list_sample = [1, 2, 2, 3, 3, 3, 4, 4, 4, 4]

In [3]:
list_sample = [1, 2, 2, 3, 3, 3, 4, 4, 4, 4]
print(set(list_sample))

{1, 2, 3, 4}

## 연습문제
집합 컴프리헨션을 통해서 1 ~ 100 사이의 3의 공배수를 구하고 set_3 변수에 담는다  
집합 컴프리헨션을 통해서 1 ~ 100 사이의 5의 공배수를 구하고 set_5 변수에 담는다  
이들의 교집합을 구하고 result_set변수에 담는다 그리고 출력하라

In [6]:
set_3 = {i for i in range(1,101) if (i % 3) == 0}
set_5 = {i for i in range(1,101) if (i % 5) == 0}
result_set = set_3 & set_5
print(result_set)

{75, 45, 15, 90, 60, 30}

## 연습문제
시스템 관리자이자 겸직으로 인ㄷ사팀에 있는 A씨의 권한은 role_admin, role_hr, role_user를 갖습니다  
이때 권한마다 갖는 홈페이지 메뉴가 다음과 같다  
role_admin = ("회계관리", "인사관리", "구매관리", "시스템 관리")  
role_hr = ("인사관리,", "개인정보 조회", "회계관리", "근태관리")  
role_user ("개인정보 조회", "근태관리")

In [50]:
role_admin = ("회계관리", "인사관리", "구매관리", "시스템 관리")  
role_hr = ("인사관리", "개인정보 조회", "회계관리", "근태관리")  
role_user = ("개인정보 조회", "근태관리")
s1 = set(role_admin)
s2 = set(role_hr)
s3 = set(role_user)
s4 = s1 | s2 | s3
roles_list = list(s4)
roles_list.sort()
for i in roles_list:
    if roles_list[-1] == i:
        char = ""
    print(i,',', end = char)

개인정보 조회 ,구매관리 ,근태관리 ,시스템 관리 ,인사관리 ,회계관리 ,

## 연습문제
2부터 입력 받은 수까지의 소수를 한줄에 7개씩 보여주는 프로그램을 작성하라

In [105]:
num = int(input("찾는 범위를 입력하세요:")) # 2 3 4 5 6 7 8 9 
line = 0
a = []
for i in range(num+1):
    for j in range(2,i+1):
        if not (i % j == 0):
            a.append(j)

찾는 범위를 입력하세요: 10

In [93]:
n = int(input("찾는 범위를 입력하세요:"))
num = 2
line = 0

while num <= n:
    count = 0  
    i = 1  
    while i <= num:
        if num % i == 0:  
            count += 1
        i += 1  
    if count == 2:  
        print(num, end =' ')
        line += 1
    if line == 7:
        line = 0
        print()

    num += 1  # n까지 증가

찾는 범위를 입력하세요: 100

2 3 5 7 11 13 17
19 23 29 31 37 41 43
47 53 59 61 67 71 73
79 83 89 97

## 함수
메인코드  
x = 함수명(인수, 인수, ...)  
print("결과 값",x)  
--  
함수 정의부  
def 함수명(인자, 인자, ...):  
    함수코드...  
    return 반환값

function_name(param1,param2):  
    result = param1 + param2  
    return result # 함수 정의부

function_name(arg1,arg2) # 함수 호출부

함수는 코드를 용도에 맞게 함수 바디에 모아두고 재사용 가능하도록 호출 가능하게 만든 것

## 함수 VS 메서드:

함수는 클래스에 포함되지 않은채로 사용한다

In [109]:
def function():
    """
    Docs Strinf에 부분압나다
    이곳에 함수의 설명에 대해 적어놓으면 좋습나다
    """
    
    pass

<function function at 0x0000020A3F105AF0>

In [110]:
print(function.__doc__)

    Docs Strinf에 부분압나다
    이곳에 함수의 설명에 대해 적어놓으면 좋습나다

## 함수의 정의 - 인자
함수 정의에서 함수가 받을 수 있는 변수. 함수인지 혹은 매개변수라고 부른다.   
인자는 함수 정의절에서 소괄호 안에 정의된다

In [123]:
# 함수 정의절 *args는 개수에 상관없이 받아줌
def function_name(positional, positional2, *args, keyword = 1, **kargs):
    pass # body

SyntaxError: invalid syntax (1885169875.py, line 1)

In [138]:
def get_grade(score=100):
    """
    숫자로된 정수를 넣으면 학점의 결과를 반환합니다.
    """
    if 85 <= score <= 100:
        return 'A'
    elif 70 <= score <= 84:
        return 'B'
    elif 55 <= score <= 69:
        return 'C'
    elif 40 <= score <= 54:
        return 'D'
    elif 0 <= score <= 39:
        return 'F'

In [137]:
get_grade(30)

'F'

In [129]:
import random

scores = [random.randint(1, 100) for _ in range(20)]
print(scores)

[42, 27, 46, 63, 83, 39, 27, 38, 51, 10, 76, 8, 32, 49, 89, 44, 14, 79, 96, 56]

In [130]:
grades = list(map(get_grade, scores))
print(grades)

['D', 'F', 'D', 'C', 'B', 'F', 'F', 'F', 'D', 'F', 'B', 'F', 'F', 'D', 'A', 'D', 'F', 'B', 'A', 'C']

In [157]:
def get_grade(score, student_number, name ='홍길동', ):
    """
    숫자로된 정수를 넣으면 학점의 결과를 반환합니다.
    """
    print(f"{student_number},{name}의 성적을 확인합니다")
    if 85 <= score <= 100:
        return 'A'
    elif 70 <= score <= 84:
        return 'B'
    elif 55 <= score <= 69:
        return 'C'
    elif 40 <= score <= 54:
        return 'D'
    elif 0 <= score <= 39:
        return 'F'

In [162]:
get_grade(score = 100,name = '김경목',student_number = '20161060')

20161060,김경목의 성적을 확인합니다

'A'

In [186]:
def add_number(number1, number2=3,/): # / 를 기준으로 완편에 온다
    """
    1과 2를 더한 숫자를 전달 받아 반환합니다
    """
    return number1 + number2

In [187]:
print(add_number.__doc__)

    1과 2를 더한 숫자를 전달 받아 반환합니다

In [189]:
# 인수 = positional arguments, keyword arguments
result = add_number(number1, number2)

NameError: name 'number1' is not defined

In [179]:
print(result)

4

In [183]:
def minus_number(*,number1, number2=3): # * 를 기준으로 오른편에 온다
    """
    1과 2를 더한 숫자를 전달 받아 반환합니다
    """
    return number1 - number2

In [184]:
# 인수 = positional arguments, keyword arguments
result = minus_number(number1 = 20, number2 = 5)

In [185]:
print(result)

15

In [195]:
def multi_number(number1,/,*, number2): 
    """
    1과 2를 더한 숫자를 전달 받아 반환합니다
    """
    return number1 * number2

In [196]:
multi_number(3, number2= 10)

30

In [205]:
def string_line(str_value,  str_len,sep = "#"):
    """
    str_value는 가운데 오는 텍스트
    str_len은 텍스트의 설정할 길이입니다
    sep은 구분선을 그을때 쓰는 문자입니다
    """
    print(str_value.center(str_len, sep))

In [206]:
string_line("구분", 50, sep = "#")

########################구분########################

In [200]:
string_line('절취선', str_len = 100, sep = "-")

------------------------------------------------절취선-------------------------------------------------

In [203]:
def test_func(a,b,c, *args):
    print(f"a : {a} b : {b} c : {c}")
    print(type(args))
    print(args)

In [204]:
test_func("a 위치입니다", "b 위치입니다", "c 위치입니다", "여기는", "어딜까요")

a : a 위치입니다 b : b 위치입니다 c : c 위치입니다
<class 'tuple'>
('여기는', '어딜까요')

In [207]:
def test_func2(a="a", b="b", **kargs):
    print(a,b)
    print(type(kargs))
    print(kargs)

In [208]:
test_func2(a = "ab", b = "bc", key = "value", key2 = "value2")

ab bc
<class 'dict'>
{'key': 'value', 'key2': 'value2'}

In [2]:
## 연습문제
# 각 입력받은 정수를 10씩 더해서 반환하는 함수를 만들어 보세요
def plus_ten(n):
    return n + 10

In [3]:
plus_ten(70)

80